openapi: 3.0.3
info:
  title: AI Reply Backend API
  version: "1.0.0"
  description: >
    Мобильный API AI Reply. Тексты сообщений не сохраняются: сервер обрабатывает
    их только в памяти во время запроса.
externalDocs:
  description: Публичная оферта
  url: https://ai-reply.kz/offer
servers:
  - url: https://ai-reply.kz
    description: production
paths:
  /healthz:
    get:
      summary: Живость сервиса
      responses: { "200": { description: OK } }
  /api/v1/config:
    get:
      summary: Публичная конфигурация клиента (языки, лимиты, способы входа)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PublicConfig" }
  /api/v1/plans:
    get:
      summary: Активные тарифы
      responses: { "200": { description: OK } }
  /api/v1/auth/email/otp/request:
    post:
      summary: Отправить 4-значный код на почту (Resend)
      description: >
        Ответ одинаков для известного и нового адреса. Новый код аннулирует
        предыдущий; повторный запрос раньше OTP_RESEND_COOLDOWN отклоняется.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email, example: "aigerim@mail.kz" }
                locale: { type: string, enum: [kk, ru, en, uz] }
      responses:
        "200":
          description: Код отправлен
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmailChallenge" }
        "400": { description: INVALID_EMAIL }
        "429": { description: "OTP_RESEND_COOLDOWN (details.retry_after_seconds, Retry-After) / RATE_LIMITED" }
        "503": { description: EMAIL_DELIVERY_FAILED }
  /api/v1/auth/email/otp/verify:
    post:
      summary: Проверить код и получить сессию (аккаунт создаётся при первом входе)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code: { type: string, pattern: "^[0-9]{4}$", example: "0384" }
                device: { $ref: "#/components/schemas/Device" }
      responses:
        "200": { description: "access_token, refresh_token, user (auth_providers), profile, subscription, usage" }
        "400": { description: "INVALID_OTP (details.attempts_remaining) / OTP_EXPIRED / OTP_ALREADY_USED / INVALID_EMAIL" }
        "429": { description: OTP_ATTEMPTS_EXCEEDED / RATE_LIMITED }
  /api/v1/auth/google:
    post:
      summary: Вход через Google (ID token проверяется сервером по JWKS)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token, nonce]
              properties:
                id_token: { type: string }
                nonce: { type: string, description: "Тот же nonce, что передан в Google SDK / Credential Manager" }
                device: { $ref: "#/components/schemas/Device" }
      responses:
        "200": { description: Сессия }
        "401": { description: INVALID_ID_TOKEN — не истёкшая сессия, refresh не нужен }
        "409": { description: EMAIL_ALREADY_IN_USE }
        "503": { description: AUTH_PROVIDER_UNAVAILABLE }
  /api/v1/auth/apple:
    post:
      summary: Вход через Apple (identity token проверяется сервером по JWKS)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identity_token, nonce]
              properties:
                identity_token: { type: string }
                nonce: { type: string, description: "Сырой nonce; Apple получил его SHA-256 (hex)" }
                full_name: { type: string, maxLength: 120 }
                device: { $ref: "#/components/schemas/Device" }
      responses:
        "200": { description: Сессия }
        "401": { description: INVALID_ID_TOKEN }
        "409": { description: EMAIL_ALREADY_IN_USE }
        "503": { description: AUTH_PROVIDER_UNAVAILABLE }
  /api/v1/auth/request-otp:
    post:
      summary: "Устаревший вход по identifier (старые сборки)"
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier]
              properties:
                identifier: { type: string, example: "+7 701 123 45 67" }
                locale: { type: string, enum: [kk, ru, en, uz] }
      responses:
        "200": { description: Запрос принят, код отправлен доступным каналом }
        "400": { description: INVALID_REQUEST — номер не поддерживается }
        "429": { description: RATE_LIMITED }
  /api/v1/auth/verify-otp:
    post:
      summary: "Устаревшая проверка кода по identifier (старые сборки)"
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, code]
              properties:
                identifier: { type: string }
                code: { type: string, example: "4827" }
                device:
                  type: object
                  properties:
                    device_id: { type: string }
                    platform: { type: string, enum: [ios, android, web] }
                    app_version: { type: string }
                    os_version: { type: string }
                    locale: { type: string }
                    timezone: { type: string }
      responses:
        "200": { description: access_token, refresh_token, user, usage }
        "400": { description: INVALID_OTP / OTP_EXPIRED }
  /api/v1/auth/refresh:
    post:
      summary: Обновить пару токенов (с ротацией)
      responses:
        "200": { description: OK }
        "401": { description: UNAUTHORIZED }
  /api/v1/auth/logout:
    post:
      summary: Отозвать refresh-токен
      responses: { "200": { description: OK } }
  /api/v1/me:
    get:
      summary: Профиль, тариф и квота
      security: [{ bearerAuth: [] }]
      responses: { "200": { description: OK } }
    patch:
      summary: Частичное обновление профиля
      security: [{ bearerAuth: [] }]
      responses: { "200": { description: OK } }
  /api/v1/me/email/otp/request:
    post:
      summary: Код на почту, которую нужно добавить к аккаунту для входа
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
                locale: { type: string, enum: [kk, ru, en, uz] }
      responses:
        "200":
          description: Код отправлен
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EmailChallenge" }
        "409": { description: CONFLICT — у аккаунта уже есть почта / EMAIL_ALREADY_IN_USE }
        "429": { description: OTP_RESEND_COOLDOWN / RATE_LIMITED }
  /api/v1/me/email/otp/verify:
    post:
      summary: Подтвердить код — почта привязана к аккаунту
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email: { type: string, format: email }
                code: { type: string, pattern: "^[0-9]{4}$" }
      responses:
        "200": { description: То же, что GET /api/v1/me }
        "400": { description: INVALID_OTP / OTP_EXPIRED / OTP_ALREADY_USED }
        "409": { description: EMAIL_ALREADY_IN_USE }
  /api/v1/me/usage:
    get:
      summary: Остаток генераций
      security: [{ bearerAuth: [] }]
      responses: { "200": { description: OK } }
  /api/v1/me/subscription:
    get:
      summary: Текущая подписка
      security: [{ bearerAuth: [] }]
      responses: { "200": { description: OK } }
  /api/v1/me/consents:
    post:
      summary: Сохранить принятие текущей оферты и политики конфиденциальности
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LegalConsentRequest" }
      responses:
        "200":
          description: Согласие сохранено
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LegalConsent" }
        "409": { description: LEGAL_VERSION_MISMATCH — клиент должен обновить конфигурацию }
  /api/v1/devices:
    post:
      summary: Регистрация устройства (устаревшее; push-токен — через /api/v1/installations)
      deprecated: true
      security: [{ bearerAuth: [] }]
      responses: { "200": { description: OK } }
  /api/v1/installations:
    post:
      summary: Регистрация установки приложения (анонимной или с аккаунтом) и push-токена
      description: >
        Аккаунт берётся только из Bearer-токена: с токеном установка привязывается к
        аккаунту, без него становится анонимной. Недействительный токен → 401, ничего не
        меняется. Лимит — по X-Installation-ID. Токен в ответах не возвращается.
      security: [{ bearerAuth: [] }, {}]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InstallationRequest" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Installation" }
        "400": { description: INVALID_REQUEST (details.field) }
        "401": { description: недействительный access-токен }
        "429": { description: RATE_LIMITED }
  /api/v1/installations/{installation_id}/detach:
    post:
      summary: Отвязать установку от аккаунта (выход, смена аккаунта)
      security: [{ bearerAuth: [] }, {}]
      parameters:
        - { name: installation_id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: "{ ok, detached }"
  /api/v1/me/notification-preferences:
    get:
      summary: Категории уведомлений пользователя
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
    put:
      summary: Включить/выключить категории (security выключить нельзя)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [preferences]
              properties:
                preferences:
                  type: object
                  additionalProperties: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreferences" }
        "400": { description: неизвестная категория или попытка выключить security }
  /api/v1/events:
    post:
      summary: Пакет событий приложения (разрешённый список, до 50 событий, тело до 64 КБ)
      security: [{ bearerAuth: [] }, {}]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EventBatch" }
      responses:
        "202":
          description: "{ accepted, rejected, rejections?, disabled? }"
        "400": { description: INVALID_REQUEST }
        "429": { description: RATE_LIMITED }
  /api/v1/devices/{id}:
    delete:
      summary: Отозвать устройство
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses: { "200": { description: OK } }
  /api/v1/ai/reply:
    post:
      summary: Сгенерировать ответ
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_text]
              properties:
                source_text: { type: string, maxLength: 300 }
                instruction: { type: string, maxLength: 400 }
                language: { type: string, enum: [kk, ru, en, uz] }
                template_id: { type: string }
      responses:
        "200": { description: reply + usage }
        "429": { description: DAILY_LIMIT_REACHED }
        "502": { description: AI_PROVIDER_UNAVAILABLE }
        "504": { description: AI_TIMEOUT }
  /v1/auth/register:
    post:
      summary: "Совместимость: install_id → токен (старые сборки)"
      deprecated: true
      responses: { "200": { description: OK } }
  /v1/reply/generate:
    post:
      summary: "Совместимость: прежний формат генерации"
      deprecated: true
      responses: { "200": { description: OK } }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    LegalConfig:
      type: object
      required: [terms_version, privacy_version, terms_url, privacy_url]
      properties:
        terms_version: { type: string, example: "2026-09-19" }
        privacy_version: { type: string, example: "2026-09-19" }
        terms_url: { type: string, format: uri, example: "https://ai-reply.kz/offer" }
        privacy_url: { type: string, format: uri, example: "https://ai-reply.kz/privacy" }
    PublicConfig:
      type: object
      properties:
        locales:
          type: array
          items: { type: string, enum: [kk, ru, en, uz] }
        timezone: { type: string, example: "Asia/Almaty" }
        max_source_characters: { type: integer, example: 300 }
        max_instruction_length: { type: integer, example: 400 }
        features:
          type: object
          properties:
            email_otp: { type: boolean, description: "Resend настроен (или демо-режим)" }
            google_sign_in: { type: boolean }
            apple_sign_in: { type: boolean }
            installations: { type: boolean, description: "есть /installations и /events" }
            push_notifications: { type: boolean, description: "сервер может доставлять push" }
            telemetry: { type: boolean, description: "сервер принимает события приложений" }
        legal: { $ref: "#/components/schemas/LegalConfig" }
    Device:
      type: object
      properties:
        device_id: { type: string }
        platform: { type: string, enum: [ios, android, web] }
        app_version: { type: string }
        os_version: { type: string }
        locale: { type: string }
        timezone: { type: string }
    InstallationRequest:
      type: object
      required: [installation_id, platform]
      additionalProperties: false
      properties:
        installation_id: { type: string, pattern: "^[A-Za-z0-9-]{8,64}$", description: "UUID, создаётся приложением" }
        platform: { type: string, enum: [ios, android] }
        app_version: { type: string }
        app_build: { type: string }
        os_name: { type: string }
        os_version: { type: string }
        device_model: { type: string, example: "iPhone17,1" }
        manufacturer: { type: string }
        locale: { type: string, enum: [kk, ru, en, uz] }
        timezone: { type: string, example: "Asia/Almaty" }
        notification_permission:
          type: string
          enum: [authorized, denied, not_determined, provisional, ephemeral, unknown]
        notifications_enabled: { type: boolean }
        push:
          type: object
          properties:
            provider: { type: string, enum: [fcm, apns] }
            token: { type: string, description: "FCM registration token или APNs device token (hex)" }
            environment: { type: string, enum: [sandbox, production], description: "только APNs" }
    Installation:
      type: object
      properties:
        installation_id: { type: string }
        attached: { type: boolean }
        push_status: { type: string, enum: [none, active, invalid, replaced] }
        push_available: { type: boolean }
        notifications_enabled: { type: boolean }
        preferences:
          type: object
          additionalProperties: { type: boolean }
    NotificationPreferences:
      type: object
      properties:
        preferences:
          type: object
          additionalProperties: { type: boolean }
          example: { account: true, subscription: true, security: true, system: true, marketing: false }
        optional:
          type: array
          items: { type: string }
    EventBatch:
      type: object
      required: [installation_id, events]
      properties:
        installation_id: { type: string }
        session_id: { type: string }
        events:
          type: array
          maxItems: 50
          items:
            type: object
            required: [name, occurred_at]
            properties:
              id: { type: string, description: "UUID события для защиты от повторов" }
              name:
                type: string
                enum: [app_opened, app_backgrounded, login_success, login_failed, registration_success,
                  logout, push_permission_requested, push_permission_granted, push_permission_denied,
                  push_token_registered, push_token_refreshed, push_token_registration_failed,
                  notification_opened, payment_started, payment_success, payment_failed, api_error,
                  unexpected_app_error]
              occurred_at: { type: string, format: date-time }
              properties:
                type: object
                maxProperties: 8
    EmailChallenge:
      type: object
      required: [masked_email, expires_in, resend_after, code_length]
      properties:
        masked_email: { type: string, example: "a***m@mail.kz" }
        expires_in: { type: integer, example: 300 }
        resend_after: { type: integer, example: 32 }
        code_length: { type: integer, example: 4 }
    LegalConsentRequest:
      type: object
      required: [terms_version, privacy_version, locale, platform]
      properties:
        terms_version: { type: string }
        privacy_version: { type: string }
        locale: { type: string, enum: [kk, ru, en, uz] }
        platform: { type: string, enum: [ios, android] }
        app_version: { type: string }
    LegalConsent:
      allOf:
        - { $ref: "#/components/schemas/LegalConsentRequest" }
        - type: object
          required: [accepted_at]
          properties:
            accepted_at: { type: string, format: date-time }
